<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="update" method="post">
    Id:<input type="text" name="id" id="id" required>
    Name: <input type="text" name="name" id="name" >
    Address: <input type="text" name="address" id="address" > 
    Phone: <input type="text" name="phone" id="phone" >
    Branch: <input type="text" name="branch" id="branch" > 
    <input type="submit" value="submit"  name="update" id="sub" >
  </form>
</body>
</html>